@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-body-fonts {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* WIDTH AND MARGIN ALL */

.all-nav,
.all-content,
.banner {
  max-width: 1050px;
  margin: 0px auto;
  box-sizing: border-box;
}


/* SHARED STYLE */
.nav-ul33 {
  font-weight: 700px;
  font-size: 20px;
}





/* NAVBAR DESIGN */
.all-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.left {
  display: flex;
  align-items: center;
}

.logo-h3 {
  font-size: 2rem;
  font-weight: 700px;
  padding-left: 5px;
}

.ul-1 ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.li-1 {
  color: orange;
}

.li-2 {
  color: skyblue;
}

.li-3 {
  color: rgba(5, 212, 223, 1);
}

.li-4 {
  color: rgba(93, 88, 239, 1);
}

.btn button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: orange;
  color: white;
  font-weight: 600px;
  font-size: 1.1rem;
  border: none;
}

.right-logo i {
  font-size: 40px;
  display: none;
}


/* BANNER CONTENT */
.banner {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}


.banner-content h3 {
  font-weight: 700px;
  font-size: 3.3rem;
  margin-bottom: 0px;
}

.color-1 {
  color: orange;
}

.color-3 {
  color: rgba(1, 172, 253, 1);
}

.banner-content p {
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 0px;
}

.banner-content button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(6, 6, 6);
  color: white;
  font-weight: 600px;
  font-size: 1.1rem;
  border: none;
  margin-top: 30px;
}

/* MAIN BODY BACKGROUND COLOR */
.all-content {
  background-image: url(./assets/bg.png);
}

/* CURRICULAM */
.curriculam h2 {
  font-weight: 700px;
  font-size: 2.7rem;
  color: black;
  text-align: center;
  margin-bottom: 0px;
}

.curriculam-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  text-align: center;
  padding-top: 60px;
}

.box {
  padding: 0px 5px;
  border-radius: 15px;
  box-shadow: 0px 0px 28px 1px rgba(0, 0, 0, 0.205);
}

.box-2,
.box-3 img {
  padding-top: 10px;
}

.box-1 {
  background: linear-gradient(to bottom, rgb(207, 226, 234) 0%, rgba(255, 255, 255, 0) 40%);
}

.box-2 {
  background: linear-gradient(to bottom, rgba(199, 161, 161, 0.893) 0%, rgba(255, 255, 255, 0)40%);
}

.box-3 {
  background: linear-gradient(to bottom, rgb(185, 170, 205) 0%, rgba(255, 255, 255, 0)40%);
}


.box h5 {
  font-weight: 700px;
  font-size: 1.5rem;
  color: rgba(32, 32, 32, 1);
  margin-top: 20px;
}

.box p {
  font-weight: 500px;
  font-size: 1rem;
  color: rgba(128, 128, 128, 1);
  margin-top: 0px;
}

.crr-btn-1 {
  border: none;
  font-weight: 700px;
  font-size: 1rem;
  color: rgb(12, 164, 224);
  background-color: white;
  margin-bottom: 10px;
}

.crr-btn-2 {
  border: none;
  font-weight: 700px;
  font-size: 1rem;
  color: rgb(248, 244, 6);
  background-color: white;
  margin-bottom: 10px;
}

.crr-btn-3 {
  border: none;
  font-weight: 700px;
  font-size: 1rem;
  color: rgb(83, 12, 224);
  background-color: white;
  margin-bottom: 10px;
}

/* ARROW */
.arrow {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.arrow-1 {
  width: 50px;
  height: 50px;
  background-color: orange;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-2 {
  width: 50px;
  height: 50px;
  background-color: orange;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* OUR STORIES */
 

.story-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  grid-area: 
  "story-1 story-1 story-2 story-3"
  "story-1 story-1 story-4 story-5"
  ;
  margin-top: 100px;
  height: 400px;
  background-color: red;
}

.story-1{
grid-area: story-1;
}
.story-2{
grid-area: story-2;
}
.story-3{
grid-area: story-3;
}
.story-4{
grid-area: story-4;
}
.story-5{
  grid-area: story-5;
}

/* FOOTER SECTION */

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(1, 172, 253, 1);
  width: 100%;
  height: 400px;
}

.kid-education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.kid-logo {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.kid-logo-img img{
  height: 80px;
}

.kid-logo h3{
  font-weight: 500px;
  font-size: 2rem;
  color: white;
  margin-bottom: 25px;
}

.kid-education p {
  font-size: 1rem;
  color: white;
}
 
.information ul{
  list-style: none;
  color: white;
}

.information ul h4{
  font-weight: 600px;
  font-size: 1.4rem;
  margin: 10px;
}
.information ul li{
  margin: 15px;
}
.information ul li a{
  text-decoration: none;
  color: white;
}
.social-logo{
  margin-bottom: 120px;
  /* margin-right: 50px; */
}
.social-logo h4{
font-weight: 600px;
font-size: 1.6rem;
color: white;
margin-bottom: 0px;
}

.logo{
  font-size: 30px;
  color: white;
  margin-top: 20px;
}


 


/* MEDIA QUERY FOR MOBILE */

@media screen and (max-width:575.98px) {

  .header-1{
    margin-bottom: 0px;
  }

  #border-bottom {
    width: 100%;
    border-bottom: 2px solid orange;
  }

  .btn,
  .ul-1,
  .logo-h3 {
    display: none;
  }

  .logo-img {
    margin-left: 10px;
  }

  .right-logo i {
    display: flex;
    margin-right: 10px;
  }

  .banner {
    flex-wrap: wrap-reverse;
  }

  .banner-image img {
    width: 80%;
    padding-left: 30px;
    margin-bottom: 0px;
  }

  .banner-content {
    text-align: center;
    padding: 0px 10px;
    margin-top: 5px;
  }
.all-content{
  margin-top: 50px;
  margin-bottom: 0px;
} 

 .curriculam h2{
  font-size: 1.5rem;
  margin-bottom: 30px;
 }
  .curriculam-box {
    grid-template-columns: repeat(1, 1fr);
    margin: 10px auto;
    padding: 0px 5px;
    text-align: center;
  }

  .arrow {
    display: none;
  }

.contact{ 
  margin-top: 200px;
} 

.footer-container{
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: flex-start;
}
.social-logo, .information{
  margin: 0px;
}
 .information ul{
  margin: 0;
  padding: 0;
 }

 .social-logo, .information, .kid-education{
  padding-left: 15px;
 }
}